.splash {
    margin-top: 30vh;
    height: 20vh;
    color: white;
    font-variant: petite-caps;
    font-size: x-large;
    padding: 2vh 5vw;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}
h1 {
    font-weight: lighter;
}

p {
    margin: 0 0 0 10vw;
    font-style: oblique;
}
