section * {
    padding-inline-start: 0;
}
section.content {
    overflow-y: scroll;
}
.content {
    display: block;
    height: 100%;
    width: 100%;
    color: black;
    padding: 5vh 5vw;
}
section.content > div {
    margin: 2vh 10vw;
    padding:1vh 2vw 3vh 2vw;
}
.job {
    display: inline-block;
}
.job-head {
    display: flex;
    flex-direction: row;
    columns: 4;
}

section a {
    color: black;
}
.folder {
    display: block;
}

h3 {
    width: 100%;
    display: inline-block;
    justify-content: space-between;
}
.proj {
    border-radius: 5px;
}
.folder ul {
    display: flex;
    justify-content: space-evenly;
}
.folder .content:not(.active) {
    display: none;
}
.folder .content ul {
    justify-content: space-between;
}
.g1 {
    font-size: larger;
}
.g2 {
    display: inline-flex;
    justify-content: space-between;
}
.g2 p {
    width: 50%;
    text-indent: 2vw;
}
