
.content {
    display: block;
    height: 100%;
    width: 100%;
    color: black;
    padding: 5vh 10vw;
    overflow-y: scroll;
}
.content > div {
    margin: 5vh 0;
    padding: 5vh 2vw;
}
.job {
    display: inline-block;
}
.job-head {
    display: flex;
    flex-direction: row;
    columns: 4;
}

section a {
    color: black;
}
.folder {
    display: inline-block;
}
.folder h3{
    display: inline-block;
    justify-content: space-around;
}
.skills {}
.skill {}
.bullet {}
