section * {
    padding-inline-start: 0;
    border-radius: 2vh;
}
section.content {
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 10vh;
}
.content {
    display: block;
    height: 100%;
    width: 100%;
    color: rgb(255, 255, 255);
    padding: 2vh 5vw 15vh 5vw;
}

.content > div {
    border: rgb(31, 5, 5) 1px;
    border-style: solid;
    background-image: linear-gradient(to bottom, transparent 94%, rgb(31, 5, 5) 118%);
}

section a {
    color: rgb(255, 255, 255);
}
h1 {
    padding-top: 2vh;
    margin: 6vh -10vw;
    font-size: 30pt;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow:
    -2px -2px 0 #000000,
    2px -2px 0 #000000,
    -2px 2px 0 #000000,
    2px 2px 0 #000000;
}
h2 {
    width: 100%;
    display: inline-block;
    justify-content: space-between;
}
.proj {
    border-radius: 5px;
    margin: 2vh 10vw;
    padding:1vh 2vw 3vh 2vw;
}
.projTabs, .projTabs > li {
    margin-block-end: 0;
    padding: 0;
    margin-left: -2vw;
}
.projTabs > li > a {
    padding: 2vh 2vw;
    border-radius: 0;

    clip-path: url("#tab");
}

.g2 {
    padding: 1vh 2vw;
}
.projTabs > li > a:not(.active) {
    background: rgba(255, 255, 255, 0.2);
}

.g1 {
    font-size: larger;
}
.g1 > li:last-child {
    font-style: italic;
    font-size: initial;
}
.g2 {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}
.g2 p {
    width: 50%;
    text-indent: 2vw;
}
.g2 > img {
    background: rgba(255, 255, 255, 0.5);
    width: 15vh;
    border-radius: 10px;
    height: 15vh;
    mix-blend-mode: color-dodge;
}
.job {
    display: inline-block;
    margin: 2vh 0vw;
    width:100%;
    padding: 8vh 5vw;
    /*clip-path: url("#wave");*/
}
li {
    padding: 2vh 1vw;
}
.invert > *:not(.duties) {
    margin-left: auto;
    text-align: end;
}
.job-head {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-style: italic;
    text-align:left;
    width: 90%;
}

.overlist {
    display: block;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 0;
    /*clip-path: polygon(0 0, 100% 0, 95% 100%, 05% 100%);*/
    padding: 0 3vw;
}
.skills {
    text-align: center;
    padding: 1vh 5vw;
    border-radius: 0px 0px 0px 0px;
    flex-flow: wrap;
}
.content > div > h2 {
    text-align: center;
    border-radius: 0;
    background: rgba(255, 255, 255, 0.4);
    margin: 0 0 1vh 0;
    padding: 1vh 0vw;
    border-radius: 50px
    /*clip-path: polygon(40% 0, 60% 0, 100% 100%, 0% 100%);*/
}

.folder > ul {
    margin: 0 1vw 0 4vw;
}
.overlist ul {
    justify-content: space-evenly;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.lang, .edu {
    text-align: center;
    height: auto;
    padding: 0 0 3vh 0;
    width: 40%;
    float: left;
    margin-left: 5%;
    margin-right: 5%;
}
.lang > ul {
    display: inline-flex;
    width: -webkit-fill-available;
    justify-content: space-around;
}

.edu {

}
