*, *:before, *:after {
	box-sizing: border-box;
	-webkit-transition: 300ms ease;
	transition: 300ms ease;
}
.foreg {
	background: #000000;
	color: rgba(255, 255, 255, 0.55);
}
.backg {
	background: rgba(43, 42, 47, 1);
	color: #05061f;
}
.specg {
	background: rgb(33, 37, 38);
}
html {
	width: auto;
	height: auto;
	overflow-y: hidden;
	overflow-x: hidden;
}
body {
	font-family: IBM Plex Sans;
	display: block;
	margin: 0;
	padding: 0;
	height: 100%;
}
nav {
	overflow: hidden;
	width: 100%;
	height:10vh;
	box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
	z-index: 1;
}

.nav-left {
    width: 50%;
    justify-content: space-around;
	display: inline-flex;
	margin: 0px;
}
.nav-tab {
	font-size: 1.75vw;
}
.nav-tab a {
	padding: 3vh 4vw;
}
.nav-logo a {
    display: contents;
}
.nav-logo a img {
    height: 8vh;
    width: auto;
}
.nav-right {
	margin: 0 auto 0 0;
	width: 50%;
	display:flex;
	justify-content: space-around;
}
.gear {
	right: 5%;
	top: 50%;
	height: 10vh;
	width: auto;
}

#register {
	display: none;
}
input {
	font-size: 1.7vh;
	padding: 0.5vh 1vw;
	float: right;
	margin: 1vh;
	background-color: #8888;
	border: 1px solid #a0b3b0;
	color: #fff;
	border-radius: 0;
}
input:focus {
	outline: 1px;
	border-color: #ffed00;
}
.forgot {
	float: right;
}
.tabs {
	height: 15vh;
	width: 50%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-left: 10%;
	border-radius: 0 0 10px 10px;
	clip-path: polygon(0% 0%, 100% 0%, 100% 200%, 25% 100%);
}
.active {
	background-color: rgba(255, 255, 255, 0.4);
}
nav ul {
    padding: 0;
    list-style-type: none;
    height: 100%;
    position: relative;
    align-items:center;
    align-content:center;
	margin: 0;
}
.nav-left > li {
	padding: 0;
}
li {
    display: flex;
    align-items:center;
    align-content:center;
}
a {
	height: 100%;
	text-decoration: none;
	color: #fff;
	padding: 2vh 1vh;
}
a:hover {
	color: rgb(106, 106, 106);
	background: rgba(255, 255, 255, 0.75);
}
p {
	margin: 0;
}

 section {
	position: fixed;
 	height: 100%;
 	width: 100%;
 	display: block;
 	justify-content: space-around;
 	align-items: center;
	overflow-y: scroll;
}
.overviews {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.overviews > div, .overviews > img {
    margin: auto;
    padding: 10vh 0;
}
.chunk {
    text-align: center;
    width: 50%;
}
.chunk#text {
    width: 50%;
    flex-wrap: wrap;
}

.folder {
    display: block;
}

.folder ul {
    display: flex;
    justify-content: flex-end;
	align-self: flex-end;
}
.folder .content:not(.active) {
    display: none;
}
.folder .content ul {
    justify-content: space-between;
}
.landingHead {
	mask-image: linear-gradient(to top, rgb(0, 0, 0) 5%, transparent 90%);
	-webkit-mask-image: linear-gradient(to top, rgb(0, 0, 0) 5%, transparent 90%);
	height: 100vh;
	width: auto;
}
.blank {
	background: radial-gradient(121vh at 50% 0%, white 50vh, black);
	/*background: radial-gradient(143vh at 30% 0%, white 93vh, black);*/
}
.landing {
	background-image: url('../img/circle.svg'),
	linear-gradient(to bottom, transparent 56%, rgb(0, 0, 0) 90%),
	radial-gradient(circle, white, transparent);
	background-size: 2vh;
	background-repeat: repeat;
	background-position: center;
	opacity: 1;
	z-index: -1;
}

footer {
	position: fixed;
	margin-top: 5vh;
	width: 100%;
    bottom: 0;
	padding: 1vh;
}
footer > div {
	width: 50%;
    text-align-last: justify;
}
footer > div > a:hover {
	background: none;
}
