*, *:before, *:after {
	box-sizing: border-box;
	-webkit-transition: .5s ease;
	transition: .5s ease;
}
.foreg {
	background: #05061f;
	color: #3a69ea;
}
.backg {
	background: `#eef3ff`;
	color: #05061f;
}
.specg {
	background: #4ab6ff;
}
html {
  width: auto;
  height: auto;
  overflow-y: scroll;
  overflow-x: hidden;
}
body {
	font-family: 'Titillium Web', sans-serif;
	margin: 0;
	padding:0;
	height: 100%;
}
nav {
	display: inline-block;
	height: 10vh;
	width: 100%;
	padding:0px;
	box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
	z-index: 1;
}
.nav-left {
    width: 50%;
    justify-content: space-around;
    padding: 10px;
	display: inline-flex;
	margin: 0px;
	float: left;
}
.nav-tab {
	font-size: 20pt;
}
.nav-logo a {
    height: 10vh;
    width: auto;
}
.nav-logo a img {
    height: 100%;
    width: auto;
}
.hforms {
    display: inline-flex;
    flex-direction: column;
    width: 50%;
}
.hforms * {
    margin-left: auto;
	padding: 5px 10px;
}
.hforms form {
	border-radius: 10px 10px 0 10px;
}
input {
	font-size: 12pt;
	display: inline-block;
	width: auto;
	height: auto;
	padding: 5px 10px;
	margin: auto 7px;
	/*background-color: #4ab6ff;*/
	background-image: none;
	border: 1px solid #a0b3b0;
	color: #fff;
	border-radius: 0;
}

input:focus {
	outline: 0;
	border-color: #3a69ea;
}

.tabs {
	display: flex;
	flex-direction: row;
	border-radius: 0 0 10px 10px;
}
nav ul {
    padding: 0;
    list-style-type: none;
    height: 100%;
    position: relative;
    align-items:center;
    align-content:center;
	margin: 0;
}
li {
    display: flex;
    align-items:center;
    align-content:center;
}
a {
	text-decoration: none;
	color: #fff;
}
a:hover {
	color: #3a69ea;
}
.landing {
	position: absolute;
	height: 90vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0.3;
	z-index: -1;
}

.clip {
	position: fixed;
	background: #05061f;
	width: 68%;
	border-radius: 0px 3px 0px 0px;
}
.fill {
	width: 34%;
	border-radius:0;
}
@media screen and (max-width: 768px) {
	html {
		display: flex;
	}
    .line {
		width: 30px;
		height: 3px;
		background: white;
		margin: 5px;
	}
    .tab-icon {
        width: 10px;
        height: 4px;
        background: white;
        margin-top: 0px;
        border-radius: 0px 0px 3px 3px;
        float: right;
    }
    .clip {
        position: fixed;
        background: #05061f;
        width: 68%;
        border-radius: 0px 3px 0px 0px;
    }
    .fill {
		width: 34%;
        border-radius:0;
    }
    .base-icon {
        width: 30px;
        height: 20px;
        background: white;
        border-radius: 4px 4px 0 4px;
    }
    nav {
		position: absolute;
	}
    .icon {
		position: absolute;
		cursor: pointer;
		z-index: 2;
	}
    .hamburger {
        left: 5%;
		top: 50%;
		transform: translate(-5%, -50%);
    }
    .folder {
        right: 5%;
		top: 50%;
		transform: translate(-5%, -50%);
    }

    .nav-left {
		/*background: #05061f;*/
        position: fixed;
        height: 10vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(45px at 50% 20%);
		-webkit-clip-path: circle(45px at 50% 60%);
		transition: all 300ms ease-in;
    }
    .nav-tab a {
        font-size: 0pt;
    }
    .nav-left.open {
        height: 100vh;
		justify-content: space-around;
        clip-path: circle(1000px at 50% 22%);
		-webkit-clip-path: circle(1000px at 50% 22%);
	}
    .nav-tab a.show {
        font-size: 20pt;
    }

    .hforms {
        display: none;
    }
}
