
@media screen and (max-width: 768px) {
	html {
		display: flex;
	}
    .line {
		width: 30px;
		height: 3px;
		background: white;
		margin: 5px;
	}
    .tab-icon {
        width: 10px;
        height: 4px;
        background: white;
        margin-top: 0px;
        border-radius: 0px 0px 3px 3px;
        float: right;
    }
    nav {
		position: fixed;
	}
    nav:hover {
    	height: 10vh;
    	transition: .75s ease;
    }
    .icon {
		position: absolute;
		cursor: pointer;
		z-index: 2;
	}
    .hamburger {
        left: 5%;
		top: 50%;
		transform: translate(-5%, -50%);
    }
    .nav-left {
		background: rgb(31, 5, 5);
        position: fixed;
        height: 10vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(40px at 50% 40%);
		-webkit-clip-path: circle(40px at 50% 40%);
		transition: all 300ms ease-in;
    }
    .nav-tab a,  .nav-tab {
		font-size: 0;
        height: 0;
    }
    .nav-left.open {
        height: 100vh;
		justify-content: space-around;
        clip-path: circle(1000px at 50% 22%);
		-webkit-clip-path: circle(1000px at 50% 22%);
	}
    .nav-tab a.show {
        font-size: 20pt;
    }

	div.proj {
		margin-left: 0;
		margin-right: 0;
	}
	.folder > ul {
	    margin-left: 4vw;
	}
	.projTabs > li > a {
		width: -webkit-fill-available;
		text-align: center;
	}
	.contact-item {
		display: block;
		text-align: center;
		margin: 8vh 0;
	}
	.contact-item > a {
		display: block;
	}

	footer > div {
		width: 100%;
	    text-align-last: justify;
	}

}
