*, *:before, *:after {
	box-sizing: border-box;
	-webkit-transition: 300ms ease;
	transition: 300ms ease;
}
.foreg {
	background: #05061f;
	color: #3a69ea;
}
.backg {
	background: `#eef3ff`;
	color: #05061f;
}
.specg {
	background: #4ab6ff;
}
html {
	width: auto;
	height: auto;
	overflow-y: scroll;
	overflow-x: hidden;
}
body {
	font-family: 'Titillium Web', sans-serif;
	margin: 0;
	padding:0;
	height: 100%;
}
nav {
	display: inline-flex;
	height: 10vh;
	width: 100%;
	padding:0px;
	box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
	z-index: 1;
}
nav:hover {
	height: 20vh;
	transition: .75s ease;
}
.nav-left {
    width: 50%;
    justify-content: space-around;
    padding: 10px;
	display: inline-flex;
	margin: 0px;
	float: left;
}
.nav-tab {
	font-size: 1.75vw;
}
.nav-logo a {
    height: 10vh;
    width: auto;
}
.nav-logo a img {
    height: 100%;
    width: auto;
}
.hforms {
    display: inline-flex;
    flex-direction: column;
	align-items: flex-end;
    width: 20vw;
	margin-left: auto;
}
.hforms:hover > * {

}
.hforms form {
	position: relative;
	display: inline-block;
	height: 40vh;
	float: left;
	clear: right;
	padding: 1vh 1vw 0 0;
	border-radius: 10px 10px 0 10px;
	box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}
#register {
	display: none;
}
input {
	font-size: 1.7vh;
	padding: 0.5vh 1vw;
	float: right;
	margin: 1vh;
	background-color: #8888;
	border: 1px solid #a0b3b0;
	color: #fff;
	border-radius: 0;
}
input:focus {
	outline: 1px;
	border-color: #3a69ea;
}
.forgot {
	float: right;
}
.tabs {
	height: 15vh;
	width: 50%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-left: 10%;
	border-radius: 0 0 10px 10px;
	clip-path: polygon(0% 0%, 100% 0%, 100% 200%, 25% 100%);
}
.tab .active {
	background: #0000;
}
nav ul {
    padding: 0;
    list-style-type: none;
    height: 100%;
    position: relative;
    align-items:center;
    align-content:center;
	margin: 0;
}
li {
    display: flex;
    align-items:center;
    align-content:center;
}
a {
	text-decoration: none;
	color: #fff;
}
a:hover {
	color: #3a69ea;
}
p {
	margin: 0;
}
.landing {
	position: fixed;
	height: 90vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0.3;
	z-index: -1;
}
