
html {
	width: auto;
	height: auto;
	overflow-y: hidden;
	overflow-x: hidden;
}
body {
    background-color: rgb(101, 213, 255);
    height: 100%;
    width: auto;
}
.foreg {
    background-color: rgb(4,45,133);
}
.container {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 30%;
    margin: 0 auto;
    background-color: rgb(158, 158, 158);
}

.board {
    width: auto;
    padding: 1vh 1vw;
    margin: auto;
    display: inline-flex;
}

.tiles {
    display: inline-flex;
    flex-direction: column;
    background-color: rgb(49,112,165);
}
.row {
    margin: 1vh 1vw;
    padding: 0;
    display: inline-flex;
}
.row > li {
    list-style: none;
    height: 10vh;
    width: 5em;
    margin: 1vh 1vw;
    background-color: rgb(4,45,133);
}
